@import 'tailwindcss';

@import '@skeletonlabs/skeleton'; 
@import '@skeletonlabs/skeleton-svelte'; 
@import '@skeletonlabs/skeleton/themes/cerberus';
@plugin '@tailwindcss/forms';
@plugin '@tailwindcss/typography';

/*
@plugin 'daisyui' {
	themes:
		light --default,
		dark --prefersdark,
		dracula,
		synthwave;
}
*/